<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <title>Dataset</title>
    <%- include("./_share/stylesheets.ejs") %>
</head>

<body>
  <!-- <div class="position-relative w-100 h-100"> -->
  <div class="">
    <%- include("./_share/header.ejs") %>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-2">
          <div class="h3 mt-3"><i class="fas fa-tags"></i> タグ</div>
          <hr />
          <form method="POST" action="/api/tags">
            <fieldset class="form-group">
              <input type="text" class="form-control" id="tag1" name="tag1" />
            </fieldset>

            <button class="btn btn-outline-success"> 追加 </button>
          </form>
          <hr />
          <ul class="nav flex-column">
            <% for (let item of locals.tags) { %>
            <li class="nav-item">
              <div class="card">
                <div class="card-body">
                  <span><%= item.name %></span>
                  <span class="badge badge-light"><%= item.imageCount %></span>
                  <div class="float-right">
                    <form method="post" action="/api/tags/delete" >
                      <input type="hidden" name="tagId" value="<%= item.id %>" />
                      <input type="hidden" name="tagName" value="<%= item.name %>" />
                      <button type="submit" class="btn"><i class="far fa-trash-alt"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </li>
            <% } %>
          </ul>
        </nav>
        <main class="col-sm-10">
          <!-- <div class="navbar nav">
          <button class="btn btn-outline-success"><i class="far fa-plus-square"></i> 追加</button>
          <button class="btn btn-outline-success"><i class="far fa-trash-alt"></i> 削除</button>
        </div> -->
          <div class="col-sm-8 my-3">
            <div class="h3 mt-3">
              <i class="fas fa-images"></i> 画像
              <div class="float-right">
                <a href="/trainings" class="btn btn-outline-success">トレーニング</a>
              </div>
            </div>
            <hr />
            <form id="form1" method="POST" enctype="multipart/form-data" action="/api/images">
              <fieldset>
                <label for="tag1">タグ</label>
                <select class="custom-select" id="tag1" name="tag1">
                  <option selected>Select tag name ... </option>
                  <% for (let item of locals.tags) { %>
                  <option value="<%= item.id %>"><%= item.name %></option>
                  <% } %>
                </select>
              </fieldset>

              <fieldset class="form-group">
                <label for="file1">ファイル</label>
                <input type="file" id="file1" name="file1" class="form-control-file" />
              </fieldset>

              <fieldset class="form-group">
                <input type="submit" id="submit" name="submit" class="btn btn-primary" value=" 登録 " />
              </fieldset>
            </form>
            <hr />
            <div>
              <form method="POST" action="/api/images/delete">
                <div class="card-columns">
                <% for (let item of locals.images) { %>
                  <div class="card" style="width: <%= item.width / 10 %>px">
                    <label for="<%= item.id %>">
                    <img src="<%= item.thumbnailUri %>" alt="" class="card-img-top">
                    </label>
                    <!-- <div class="card-body text-center">
                      <input type="checkbox" class="" id="<%= item.id %>" name="<%= item.id %>" value="<%= item.id %>" />
                    </div> -->
                  </div>
                <% } %>
                </div>
              <!-- <button type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> 削除</button> -->
              </form>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- <footer class="fixed-bottom p-3 bg-light">Hands-on Lab</footer> -->
  </div>
  <%- include("./_share/javascripts.ejs") %>
  <script src="/public/javascripts/index.js"></script>
</body>

</html>